name: Main workflow

on: [push, pull_request]

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-20.04
          - windows-latest
        ocaml-version:
          - 4.10.1
          - 4.11.1

    env:
      OCAML_VERSION: ${{ matrix.ocaml-version }}
      OS: ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cached Infra
        uses: actions/cache@v2
        env:
          cache-name: cached-opam
        with:
          path: |
           ~/.opam
           _build
           C:\cygwin
           D:/a/eigen/eigen
          key: ${{ matrix.os }}-${{ matrix.ocaml-version }}-${{ env.cache-name }}-${{ hashFiles('**/*.opam*') }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.ocaml-version }}-${{ env.cache-name }}-
            ${{ matrix.os }}-${{ matrix.ocaml-version }}-
            ${{ matrix.os }}-
      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Install dependencies
        run: |
          opam pin add eigen.dev . -n
          opam depext eigen
          opam install eigen --deps-only

      - name: Build project
        run: opam exec -- dune build -p eigen

      - name: Install openblas on windows
        if: ${{ runner.os == 'Windows' }}
        run: |
          echo pwd
          git clone https://github.com/xianyi/OpenBLAS.git || true
          cd OpenBLAS
          make CC=x86_64-w64-mingw32-gcc FC=x86_64-w64-mingw32-gfortran
          make CC=x86_64-w64-mingw32-gcc FC=x86_64-w64-mingw32-gfortran PREFIX=/usr/x86_64-w64-mingw32/sys-root/mingw install

      - name: Build and test owl
        run: |
          opam depext owl owl-top owl-zoo
          opam install -t owl owl-top owl-zoo
